.flex {
    display: flex;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.height90 {
    height: 90%;
}

.width50 {
    width: 50%;
}

.grid {
    display: grid;
}

.toast2 {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 375px;
    z-index: 99;
    background: #FFF;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*   gap: 20px; */
    border-radius: 12px;
    border-left: 3px solid red;
    overflow: hidden;
    transform: translateX(calc(100% + 25px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35)
}

.toastsucesso {
    border-left: 4px solid green;
}

.toastwarning {
    border-left: 4px solid orange;
}

.toasterro {
    border-left: 4px solid red;
}

.toast2.active {
    transform: translateX(0);
}

.toast2 i:first-child {
    color: red;
    font-size: 20px;
}

.toast-text {
    margin: 0;
    font-size: .8125rem;
    text-transform: uppercase;
}

.toast2 i:last-child {
    color: #ccc;
    cursor: pointer;
    transition: 350ms;
}

.toast2 i:last-child:hover {
    color: #333;
}

.ql-container.ql-snow {
    border: 0px;
}